manifest {
  description = 'Proof of concept of a VCF to SNP pipeline with Nextflow'
  author = 'Maximilian Greil'
  nextflowVersion = '>=21.10.5'
  name = 'vcftosnp'
  version = '0.1.0'
}

// Global default params, used in configs
params {

  tracedir = "info"
  singleEnd = true
  
  // Path to assembly of genome file
  genome = "$baseDir/data/*.fa.gz" // hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/hg38.fa.gz
  
}

profiles {
  standard {
    process.container = 'maxgreil/vcftosnp'
    docker.enabled = true
  }
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}
