int threads = Runtime.getRuntime().availableProcessors()

process {
    withName: MINIMAP2_INDEX {
        cpus = threads
    }
}

process {
    withName: MINIMAP2_TO_BAM {
        cpus = threads
    }
}

process {
    withName: SAMTOOLS {
        cpus = threads
    }
}

process {
    withName: BCFTOOLS {
        cpus = threads
    }
}
